# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\benma\OneDrive\City\CompSci\Modules\Year 3\Term 2\Individual Project\SudokuScanner\Python_Implementation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
