Flask==1.1.2
grpcio==1.32.0
h5py==2.10.0
image==1.5.33
imageio==2.9.0
imutils==0.5.4
Keras==2.4.3
Keras-Preprocessing==1.1.2
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.5.1.48
pandas==1.2.2
Pillow==6.2.2
scikit-image==0.18.1
scipy==1.6.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
tensorflow-hub==0.9.0
tqdm==4.57.0
