/**
This file ensures that the original frame and the response frame are 
placed on top of each other, and the blending mode is applied so that 
the response frame recognises black pixels as transparent.
**/

#videoInput {

    z-index: 1;
    position: absolute;

}

#video {

    z-index: 2;
    position: absolute;

}

#image {

    z-index: 3;
    position: relative;
    mix-blend-mode: screen;

}
